 <ng-container *ngIf="selectedCategory">
         <label>Category id:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.id" disabled>
        <br>
        <label>Name Category:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.name">
        <br>
        <label>Sport:</label>
        <br>
         <span>
                 {{sport?.name}}
         </span>
        <br>
        <label>Country:</label>
        <br>
        <input *ngIf="selectedCategory.country" type="text"  pInputText [(ngModel)]="selectedCategory.country.name" disabled> 
        <br><label>SourceCategories:</label>
        <br>
        <span class="p-float-label"
                *ngFor="let sourceCategory of sourceCategories" >
                           {{sourceCategory.name}}
               </span>
        <!-- <input  type="text"  pInputText [(ngModel)]="selectedCategory.sourceCategories"> -->
        <br><label>CreatedAt:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.createdAt" disabled>
        <br>
        <label>CreatedBy:</label>
        <br>
        <input *ngIf="selectedCategory.createdBy" type="text"  pInputText [(ngModel)]="selectedCategory.createdBy" disabled>
        <br> 
 </ng-container>
    

  