 <ng-container *ngIf="selectedCategory">
         <label>Edit id:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.id">
        <br>
        <label>Edit name:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.name">
        <br>
        <label>Edit sportID:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.sportID">
        <br>
        <label>Edit country:</label>
        <br>
        <input *ngIf="country" type="text"  pInputText [(ngModel)]="selectedCategory.country.name"> 
        <br><label>Edit sourceCategories:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.sourceCategories">
        <br><label>Edit createdAt:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.createdAt">
        <br>
        <label>Edit createdBy:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.createdBy">
        <br> 
 </ng-container>
    

  