 <ng-container *ngIf="selectedCategory">
         <label>Edit id:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.id">
        <br>
        <label>Edit name:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.name">
        <br>
        <label>Edit sportID:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.sportID">
        <br>
        <label>Edit country:</label>
        <br>
        <input *ngIf="selectedCategory.country" type="text"  pInputText [(ngModel)]="selectedCategory.country.name"> 
        <br><label>Edit sourceCategories:</label>
        <br>
        <span class="p-float-label"
                *ngFor="let sourceCategory of sourceCategories" >
                           {{sourceCategory.name}}
               </span>
        <!-- <input  type="text"  pInputText [(ngModel)]="selectedCategory.sourceCategories"> -->
        <br><label>Edit createdAt:</label>
        <br>
        <input type="text"  pInputText [(ngModel)]="selectedCategory.createdAt">
        <br>
        <label>Edit createdBy:</label>
        <br>
        <input *ngIf="selectedCategory.createdBy" type="text"  pInputText [(ngModel)]="selectedCategory.createdBy">
        <br> 
 </ng-container>
    

  