
<!-- <ul class="list-group" id="list-tab" role="tablist">
    <li class="list-group-item ">
<h4>List of sports:</h4>

    <div *ngFor="let sport of sports" (click)="onSelect(sport)" [class.active]="sport.active" 
    >
    <li class="list-group-item list-group-item-action" id="list-sport-list" >
    <span> {{ sport.name }} </span>
    </li>
</div>
</ul> -->

<div class="container">

    <div ngbDropdown class="d-inline-block" 
    (click)="selectSport($event)" 
     ngDefaultControl >
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle
         >Select Sport</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" 
        style="height: 190px; overflow-y: auto; overflow-x: hidden;">
            <option  *ngFor="let sport of sports" (click)="onSelect(sport)" [value]="sport.id" 
            >{{ sport.name }}</option>
        </div>
      </div>
    </div>