<br>
<div class="row">
    <div class="col-md-6">
  <p-dropdown 
[options]="competitions"
(onChange)="selectCompetition()"
[(ngModel)]="selectedCompetition" 
 placeholder="Select Competition" 
optionLabel="name" 
[showClear]="true">

</p-dropdown>  
</div>


<div class="col">
    <div *ngIf="selectedCompetition">
 <span class="p-float-label mt-4">
  <input id="float-input" type="text" [(ngModel)]="selectedCompetition.id" pInputText> 
 <label  for="float-input">
     id: 
 </label>
</span>
<span class="p-float-label mt-4">
 <input id="float-input" type="text" [(ngModel)]="selectedCompetition.name" pInputText> 
 <label for="float-input" >
       name: 
 </label>
</span>
<button pButton 
class="button mt-2" 
type="button" 
(click)="showDialog('competition')"
label="Edit" >
</button>
</div> 
</div>
</div>

<p-dialog [(visible)]="display">
  <ng-template pTemplate="header">
     Update
  </ng-template>
  <ng-container *ngIf="selectedEditType === 'competition'">
      <app-edit-competition [selectedCompetition]="selectedCompetition"></app-edit-competition>
  </ng-container>
  <ng-template pTemplate="footer">
      <button id="cancel" type="reset" pButton icon="pi pi-times" label="Close" 
      (click)="close()"
      ></button>
      <button type="button" pButton icon="pi pi-check" label="Save"
      (click)="save()"
      ></button>
  </ng-template>
  
</p-dialog>

