<div class="container">
    <div class="row">
            <div class="col-sm-4" style="float: none; margin: 0 auto;">
                <!-- <select class="form-control" style="width: 100%;" (change)="updateCategory($event)"  >
                  <option [value]="0">Select Category</option>
                  <option  *ngFor="let category of categories"  [value]="category.id" >{{ category.name }}</option>
                </select> -->

                <div ngbDropdown class="d-inline-block" (click)="updateCategory($event)"  ngDefaultControl>
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle >Select Category</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                        <option  *ngFor="let category of categories" [value]="category.id" >{{ category.name }}</option>
                    </div>
                  </div>
        
            <ul class="list-group" *ngIf="selectedCategory">
                <li class="list-group-item" > id: {{ selectedCategory?.id }} 
                    <li class="list-group-item"> 
                       name: {{ selectedCategory?.name }}
                        </li>
                </ul>
        </div>
        <div class="col-md-4">
            <div ngbDropdown class="d-inline-block" (click)="updateCompetitions($event)"  ngDefaultControl>
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle >Select Competition</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                    <option  *ngFor="let competition of competitions" [value]="competition.id" >{{ competition.name }}</option>
                </div>
              </div>
    
        <ul class="list-group" *ngIf="selectedCompetitions">
            <li class="list-group-item" > id: {{ selectedCompetitions?.id }} 
                <li class="list-group-item"> 
                   name: {{ selectedCompetitions?.name }}
                    </li>
            </ul>
    </div>
        </div>
        <div class="col">
  
        </div>
    </div>

