<div class="container">
    <div class="row">
            <div class="col-sm-3" style="float: none; margin: 0 auto;">
                <!-- <select class="form-control" style="width: 100%;" (change)="updateCategory($event)"  >
                  <option [value]="0">Select Category</option>
                  <option  *ngFor="let category of categories"  [value]="category.id" >{{ category.name }}</option>
                </select> -->

                <div ngbDropdown placement="top-right" class="d-inline-block" (click)="updateCategory($event)"  ngDefaultControl>
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle >Select Category</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="height: 190px; overflow-y: auto; overflow-x: hidden;">
                        <option  *ngFor="let category of categories" [value]="category.id" >{{ category.name }}</option>
                    </div>
                  </div>
        
            <ul class="list-group" *ngIf="selectedCategory">
                <li class="list-group-item" > id: {{ selectedCategory?.id }} 
                    <li class="list-group-item"> 
                       name: {{ selectedCategory?.name }}
                        </li>
                </ul>
        </div>
        <div class="col-md-3" *ngIf="selectedCategory">
            <div ngbDropdown placement="top-right" class="d-inline-block" (click)="updateCompetitions($event)"  ngDefaultControl>
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle >Select Competition</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="height: 190px; overflow-y: auto; overflow-x: hidden;">
                    <option  *ngFor="let competition of competitions" [value]="competition.id" >{{ competition.name }}</option>
                </div>
              </div>
    
        <ul class="list-group" *ngIf="selectedCompetitions">
            <li class="list-group-item" > id: {{ selectedCompetitions?.id }} 
                <li class="list-group-item"> 
                   name: {{ selectedCompetitions?.name }}
                    </li>
            </ul>
    </div>
        
        <div class="col-md-3" *ngIf="selectedCompetitions">
            <div ngbDropdown placement="top-right" class="d-inline-block" (click)="updateCompetitors($event)" ngDefaultControl>
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle >Select Competitor</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="height: 190px; overflow-y: auto; overflow-x: hidden;">
                    <option  *ngFor="let competitor of competitors" [value]="competitor.id" >{{ competitor.name }}</option>
                </div>
              </div>
    
        <ul class="list-group" *ngIf="selectedCompetitors">
            <li class="list-group-item" >  
                id: {{ selectedCompetitors?.id }}
                 </li>
                    <li class="list-group-item"  >  
                       name: {{ selectedCompetitors?.name }}
                        </li>
                
            </ul>
        </div>
        <div class="col"  *ngIf="selectedCompetitors">
            <ul>Players:
            <li class="list-group-item" *ngFor="let player of players" [value]="player.id" >
               {{ player.name }}
            </li></ul>
        </div>
        
    </div>
    </div>

