
.bg-image {
    background-image: url('https://www.bls.gov/spotlight/2017/sports-and-exercise/images/cover_image.jpg');  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 30px;
}