<div class="row">
     <div class="col-md-4 gx-3" >
          <p-dropdown [options]="categories" 
          (onChange)="selectCategory($event)"
     [(ngModel)]="selectedCategory" 
     placeholder="Select Category" 
     optionLabel="name" 
	 [showClear]="true">
           </p-dropdown>  
       <div *ngIf="selectedCategory">
               <span class="p-float-label mt-4">
                <input id="float-input" type="text" [(ngModel)]="selectedCategory.id" pInputText> 
               <label  for="float-input">
                   id: 
               </label>
           </span>
           <span class="p-float-label mt-4">
               <input id="float-input" type="text" [(ngModel)]="selectedCategory.name" pInputText> 
               <label for="float-input" >
                     name: 
               </label>
           </span>
         
           <!-- <button pButton type="button" label="Edit" ></button> -->
          </div> 
             

        

     </div>
     <div class="col-md-4 gx-3">
          <p-dropdown  [options]="competitions" 
          (onChange)="selectCompetition($event)"
     [(ngModel)]="selectedCompetition" 
     placeholder="Select Competition" 
     optionLabel="name" 
	 [showClear]="true">
           </p-dropdown>

           <div *ngIf="selectedCompetition">
            <span class="p-float-label mt-4">
                <input id="float-input" type="text" [(ngModel)]="selectedCompetition.id" pInputText> 
               <label  for="float-input">
                   id: 
               </label>
           </span>
           <span class="p-float-label mt-4">
               <input id="float-input" type="text" [(ngModel)]="selectedCompetition.name" pInputText> 
               <label for="float-input" >
                     name: 
               </label>
           </span>
          </div>
     </div>
     <div class="col-md-4 gx-3">
          <p-dropdown [options]="competitors" 
          (onChange)="selectCompetitor($event)"
     [(ngModel)]="selectedCompetitor" 
     placeholder="Select Competitor" 
     optionLabel="name" 
	 [showClear]="true">
           </p-dropdown>

           <div *ngIf="selectedCompetitor">
            <span class="p-float-label mt-4">
                <input id="float-input" type="text" [(ngModel)]="selectedCompetitor.id" pInputText> 
               <label  for="float-input">
                   id: 
               </label>
           </span>
           <span class="p-float-label mt-4">
               <input id="float-input" type="text" [(ngModel)]="selectedCompetitor.name" pInputText> 
               <label for="float-input" >
                     name: 
               </label>
           </span>
          </div>

 </div>
 </div>
 <div class="row">
<div *ngIf="selectedCompetitor">
               <span class="p-float-label">
                    <input id="float-input" type="text" pInputText disabled> 
                    <label for="float-input">
                       Players:
                     </label>
               </span>
               <div *ngIf="isLoading">
                   <app-loading-spinner></app-loading-spinner>
               </div>
              
                   <span class="p-float-label"
                *ngFor="let player of players" >
                    <input id="float-input" type="text" pInputText disabled> 
                    <label for="float-input">
                        <div *ngIf="!isLoading">
                           {{player.name}} 
                        </div>
                       
                     </label>
               </span>
               
               
          </div>
 </div>

      
   
 

      




