.row {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.p-dropdown {
    margin-bottom: 10px;
}

ng:deep .categories {
margin: 20px;
}

ng:deep p-float-label {
    justify-content: center;
}

app-loading-spinner {
    margin-left: 55px;
}
