<!-- <div class="container-fluid">
<div
    class="p-5 text-center"
  >
    <div class="mask" style="background-color: rgba(78, 124, 136, 0.6);">
      <div class="d-flex justify-content-center align-items-center ">
        <div class="text-white">
          <h1 >Sports</h1>
        </div>
      </div>
    </div>
  </div>
</div> -->
<header>
<div class="container-fluid" style="background-color: rgba(78, 124, 136, 0.6);">
  
    <div class="text-black text-center justify-content-center align-items-center">
      <h1 >Sports</h1>
</div>

</div>


</header>