

<div class="container">
    <div class="row">
            <div class="col-sm-4 gx-3">

                <div ngbDropdown placement="top-right" class="d-inline-block" (click)="updateCategory($event)"  ngDefaultControl>
                    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle >Select Category</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="height: 100px; overflow-y: auto; overflow-x: hidden;">
                        <option  *ngFor="let category of categories" [value]="category.id" >{{ category.name }}</option>
                    </div>
                  </div>
        
            <ul class="list-group" *ngIf="selectedCategory">
                <li class="list-group-item" > 
                    id: {{ selectedCategory?.id }} 
                    <li class="list-group-item"> 
                       name: {{ selectedCategory?.name }}
                        </li>
                </ul>
        </div>
        <div class="col-md-4 gx-3">
            <div ngbDropdown placement="top-right" class="d-inline-block" (click)="updateCompetitions($event)"  ngDefaultControl>
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle [disabled]="!selectedCategory" >Select Competition</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="height: 100px; overflow-y: auto; overflow-x: hidden;">
                    <option  *ngFor="let competition of competitions" [value]="competition.id" >{{ competition.name }}</option>
                </div>
              </div>
    
        <ul class="list-group" *ngIf="selectedCompetitions">
            <li class="list-group-item" > id: {{ selectedCompetitions?.id }} 
                <li class="list-group-item"> 
                   name: {{ selectedCompetitions?.name }}
                    </li>
            </ul>
    </div>
        
      
    
        <div class="col-md-4 gx-3" style="height: 600px; overflow-y: auto; overflow-x: hidden;">
            <ul class="list-group">
                <li class="list-group-item">
            Competitors:
            <li class="list-group-item" *ngFor="let competitor of competitors" [value]="competitor.id" >
               {{ competitor.name }}
            </li></ul>
        </div>

</div>
     
<ngb-toast
  *ngIf="show"
  [delay]="20000">
  <div *ngIf="showErrorMessage">
    {{errorMessage}}
  </div>
   {{message}}
 </ngb-toast>


</div>