<div class="p-grid p-align-center" style="height: 100vh">
    <div class="p-col-6" style="text-align: center"> 
    </div>
    <div class="p-col-6" style="background-color: #f1f1f2; height: 100%;">
      <div>
        <form>
             <div class="container"> <label >Username:</label>
            <span class="p-float-label ">  
            <input  type="text" pInputText [(ngModel)]="username"  [ngModelOptions]="{standalone: true}" >  
        </span>
         <label >Password:</label>
        <span class="p-float-label">
            <input  type="password" pInputText [(ngModel)]="password"  [ngModelOptions]="{standalone: true}"> 
        </span>    
        <button type="submit" class="btn btn-primary mt-4" (click)="login()">Login</button>
        </div> 
        </form>
      </div>
    </div>
  </div>

